body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;

}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color:  white;
    border-radius:  10px;
}
.center h1 {
    text-align: center;
    font-style: italic;
    color: #2980b9;
}
.center form{
    padding: relative;
    box-sizing: border-box;
    width: 100%;

}
form .txt_field{
    position: relative;
    background-origin: padding-box;
    margin: auto;
    
}
.txt_field input{
    width: auto;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #2980b9;
}
input[type="submit"]{
width: 100%;
height: 50px;
border: 1px solid;
background-color: #2980b9;
border-radius: 25px;

}

